/* TESTIMONIOS */
@media screen and (max-width: 845px) {
      /* Inicio de configuración de los testimonios */

      /* Ya no se muestran los 4 testimonios a la vez */
  .testimonials{
    display: none;
  }
  .bgGradientMobile{
    background: linear-gradient(to top, rgb(53,200,255), 0.025%, rgb(248,248,248));
    overflow: hidden;
    justify-content: center;
  }
  /* Disminucion de la altura */
  .testimonialsBgGradient{
    background-image: url("./img/Wave.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 300px;  
    overflow: hidden;
  }

  /* Configuracion del carousel */
  .mobileCarousel{
    margin-top: 50px;
    width: auto;
    display: block;
  }
  .center{
    height: auto;
    display: auto;
  }
  .slideCarousel{
    height: 195px;
    display: flex;
    margin-top: 10px;
    margin-left: calc(50% - 150px);
  }
  
  .testimonial{
    display: flex;
    width: 250px;
    height: 185px;
    margin-left: none;
    margin-right: none;
  }
  /* Fin de configuración de testimonios */
}

/* SERVICIOS */
@media screen and (max-width: 680px) {
  .serviceGroup{
    height: max-content;
    justify-content: space-around;
  }
  .singleService {
    width: 40%;
    
    height: min-content;
    display: block;
    border-radius: 2.5%;
    margin: 0 10px 15px 10px;
    padding: 1rem 0 1rem 0;
    box-shadow: 0px 0px 10px 0.5px rgb(188, 194, 208);
}
.imgService{
  display: none;
}
.imgServiceMobile{
  display: flex;
  border: 5px solid rgb(0,151,239);
  border-radius: 2.5%;
  margin: 0.5rem 0 0.5rem 0;
}
.singleService img{
  max-width: 120%;
}
.highHeight{
  min-width: 3rem;
}

}
@media screen and (max-width: 450px) {
  .singleService h2{
    font-size: 1rem;
  }
}